In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as mp
import seaborn as sb
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

In [4]:
location1=pd.read_csv('Location1.csv')
location2=pd.read_csv('Location2.csv')
location3=pd.read_csv('Location3.csv')
location4=pd.read_csv('Location4.csv')

In [5]:
location1.head()

,Time,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power
0,2017-01-02 00:00:00,28.5,85,24.5,1.44,1.26,146,162,1.4,0.1635
1,2017-01-02 01:00:00,28.4,86,24.7,2.06,3.99,151,158,4.4,0.1424
2,2017-01-02 02:00:00,26.8,91,24.5,1.30,2.78,148,150,3.2,0.1214
3,2017-01-02 03:00:00,27.4,88,24.3,1.30,2.69,58,105,1.6,0.1003
4,2017-01-02 04:00:00,27.3,88,24.1,2.47,4.43,58,84,4.0,0.0793

In [7]:
location1['location']='location1'
location2['location']='location2'
location3['location']='location3'
location4['location']='location4'

In [10]:
merge_data=pd.concat([location1,location2,location3,location4],ignore_index=True)

In [12]:
merge_data.to_csv('merge_data.csv',index=False)

In [13]:
merge_data.head()

,Time,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power,location
0,2017-01-02 00:00:00,28.5,85,24.5,1.44,1.26,146,162,1.4,0.1635,location1
1,2017-01-02 01:00:00,28.4,86,24.7,2.06,3.99,151,158,4.4,0.1424,location1
2,2017-01-02 02:00:00,26.8,91,24.5,1.30,2.78,148,150,3.2,0.1214,location1
3,2017-01-02 03:00:00,27.4,88,24.3,1.30,2.69,58,105,1.6,0.1003,location1
4,2017-01-02 04:00:00,27.3,88,24.1,2.47,4.43,58,84,4.0,0.0793,location1

In [15]:
merge_data.isnull().sum()

Time                   0
temperature_2m         0
relativehumidity_2m    0
dewpoint_2m            0
windspeed_10m          0
windspeed_100m         0
winddirection_10m      0
winddirection_100m     0
windgusts_10m          0
Power                  0
location               0
dtype: int64

In [19]:
merge_data.describe().T

,count,mean,std,min,25%,50%,75%,max
temperature_2m,175200.0,46.655994,22.012738,-31.2,30.2000,46.9000,65.3000,101.7000
relativehumidity_2m,175200.0,70.155291,17.326678,9.0,57.0000,72.0000,84.0000,100.0000
dewpoint_2m,175200.0,36.516241,20.933153,-36.2,21.9000,36.2000,54.6000,78.7000
windspeed_10m,175200.0,4.157639,2.012682,0.0,2.6300,3.8500,5.3800,18.5300
windspeed_100m,175200.0,6.879334,3.043964,0.0,4.7000,6.6800,8.8000,24.5900
winddirection_10m,175200.0,201.589446,99.639040,1.0,130.0000,211.0000,288.0000,360.0000
winddirection_100m,175200.0,201.539070,100.683777,0.0,129.0000,211.0000,290.0000,360.0000
windgusts_10m,175200.0,8.038205,3.617488,0.5,5.3000,7.6000,10.3000,29.2000
Power,175200.0,0.303429,0.257325,0.0,0.0877,0.2331,0.4742,0.9994

In [22]:
merge_data.drop(columns='Time')

,temperature_2m,relativehumidity_2m,dewpoint_2m,windspeed_10m,windspeed_100m,winddirection_10m,winddirection_100m,windgusts_10m,Power,location
0,28.5,85,24.5,1.44,1.26,146,162,1.4,0.1635,location1
1,28.4,86,24.7,2.06,3.99,151,158,4.4,0.1424,location1
2,26.8,91,24.5,1.30,2.78,148,150,3.2,0.1214,location1
3,27.4,88,24.3,1.30,2.69,58,105,1.6,0.1003,location1
4,27.3,88,24.1,2.47,4.43,58,84,4.0,0.0793,location1
...,...,...,...,...,...,...,...,...,...,...
175195,25.5,94,24.0,4.01,6.66,4,8,8.2,0.3417,location4
175196,25.3,92,23.2,4.70,7.52,1,5,7.9,0.3342,location4
175197,24.9,90,22.5,4.61,7.57,4,8,7.9,0.3267,location4
175198,24.9,89,22.1,4.60,7.44,2,6,7.8,0.3192,location4
175199,24.9,88,21.8,4.65,7.77,9,12,7.8,0.3117,location4

In [23]:
merge_data=pd.get_dummies(columns='location')

TypeError: get_dummies() missing 1 required positional argument: 'data'